{% extends "adminapp/base.html" %}

{% block content %}
  <h2>Table List</h2>
  <p>
    <a href="{% url 'adminapp:table-add' %}">Add new table</a>
  </p>
  {% if tables %}
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Number</th>
          <th>Seats</th>
          <!-- <th>Available</th>
          <th>Actions</th> -->
        </tr>
      </thead>
      <tbody>
        {% for table in tables %}
          <tr>
            <td>{{ table.id }}</td>
            <td>{{ table.table_number }}</td>
            <td>{{ table.seats }}</td>
            <!-- <td>{{ table.available }}</td> -->
            <td>
              <a href="{% url 'adminapp:table-edit' pk=table.id %}">Edit</a> | 
              <a href="#">Delete</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No tables available.</p>
  {% endif %}
{% endblock %}
