.menu-img {
    width: 100%;  /* or any specific size you want */
    height: auto; /* to maintain aspect ratio */
}

.social-media a {
    color: red;  /* adjust this to match your color scheme */
    margin-right: 10px;
}

.social-media a:hover {
    color: #0056b3;  /* adjust this to a darker or lighter shade of your color */
}

/* carousel */
.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* menu cards */

.card-img-top {
    height: 200px; /* Adjust as needed */
    object-fit: cover; /* This will make the images cover the area without stretching */
}
.card {
    height: 100%; /* Make the cards take up the full height of their container */
    display: flex;
    flex-direction: column;
}
.card-body {
    flex-grow: 1; /* This will push the card footer to the bottom if there is one, and make the body take up all available space otherwise */
}

.parallax {
    /* The image used */
    background-image: url("https://res.cloudinary.com/dpwp5cavi/image/upload/f_auto,q_auto/restaurant-interior_gludyo");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
/* When the screen is 800px wide or less, make the background image's height smaller */
@media only screen and (max-width: 800px) {
    .parallax {
      height: 300px;
    }
}