/* import roboto */

@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;600;700&family=Roboto:wght@400;500;700&display=swap');

/* General styling */

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

h4, h5, h6 {
    font-size: 16px;
}

/* If you need to increase letter spacing for uppercase text */

.uppercase {
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* menu images */

.menu-img {
    width: 100%; 
    height: auto; 
}

.social-media a {
    color: #000;  /* adjust this to match your color scheme */
    margin-right: 0 10px;
}

.social-media a:hover {
    color: #007bff;  /* adjust this to a darker or lighter shade of your color */
}

/* Remove border around hamburger menu */

.navbar-toggler {
    border: none;
    box-shadow: none;
}

.navbar-toggler:focus {
    outline: none;
}

/* carousel on the menu page */

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* menu cards */

.card-img-top {
    height: 200px; /* Adjust as needed */
    object-fit: cover; /* This will make the images cover the area without stretching */
}
.card {
    height: 100%; /* Make the cards take up the full height of their container */
    display: flex;
    flex-direction: column;
}
.card-body {
    flex-grow: 1; /* This will push the card footer to the bottom if there is one, and make the body take up all available space otherwise */
}

.parallax {
    /* The image used */
    background-image: url("https://res.cloudinary.com/dpwp5cavi/image/upload/f_auto,q_auto/restaurant-interior_gludyo");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
/* When the screen is 800px wide or less, make the background image's height smaller */

@media only screen and (max-width: 800px) {
    .parallax {
      height: 300px;
    }
}