{% extends 'base.html' %}

{% block content %}

  <h2>{{ restaurant.name }}</h2>
  
    {% for restaurant in object_list %}
      
        <!-- <a href="{% url 'restaurant_detail' restaurant.pk %}">{{ restaurant.name }}</a> -->
      
      
        <!-- <a href="{% url 'restaurant_detail' restaurant.pk %}">{{ restaurant.address }}</a> -->

        <div class="container text-center">
          <p>
            {{ restaurant.our_story | linebreaks }}
          </p>
        </div>
        
    {% endfor %}

  
{% endblock %}
