{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2>Menu</h2>

            <h2>Starters</h2>
            {% for item in starters %}
                <div>
                    <h3>{{ item.name }}</h3>
                    <p>{{ item.description }}</p>
                    <p>Price: {{ item.price }}</p>
                    <img src="{{ item.image.url }}" alt="{{ item.name }}" class="img-fluid">
                </div>
            {% empty %}
                <p>No starters available.</p>
            {% endfor %}

            <h2>Pizzas</h2>
            {% for item in pizzas %}
                <div>
                    <h3>{{ item.name }}</h3>
                    <p>{{ item.description }}</p>
                    <p>Price: {{ item.price }}</p>
                    <img src="{{ item.image.url }}" alt="{{ item.name }}" class="img-fluid">
                </div>
            {% empty %}
                <p>No pizzas available.</p>
            {% endfor %}

            <h2>Pastas</h2>
            {% for item in pastas %}
                <div>
                    <h3>{{ item.name }}</h3>
                    <p>{{ item.description }}</p>
                    <p>Price: {{ item.price }}</p>
                    <img src="{{ item.image.url }}" alt="{{ item.name }}" class="img-fluid">
                </div>
            {% empty %}
                <p>No pastas available.</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
